http_interactions:
- request:
    method: get
    uri: https://api.github.com/repos/ropenscilabs/circle
    body:
      encoding: ''
      string: ''
    headers:
      Authorization: token <<<PAT_GITHUB>>>
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json; charset=utf-8
      etag: W/"15f6923db9759a830f1515a59f12e5308f981ec8de3b4a033967d0d39b028263"
      last-modified: Fri, 04 Sep 2020 11:36:52 GMT
      status: 200 OK
      x-accepted-oauth-scopes: repo
      x-github-media-type: github.v3; format=json
      x-oauth-scopes: repo
      x-ratelimit-limit: '5000'
      x-ratelimit-remaining: '4899'
      x-ratelimit-reset: '1602013530'
      x-ratelimit-used: '101'
    body:
      encoding: UTF-8
      file: no
      string: '{"id":214703960,"node_id":"MDEwOlJlcG9zaXRvcnkyMTQ3MDM5NjA=","name":"circle","full_name":"ropenscilabs/circle","private":false,"owner":{"login":"ropenscilabs","id":16314060,"node_id":"MDEyOk9yZ2FuaXphdGlvbjE2MzE0MDYw","avatar_url":"https://avatars3.githubusercontent.com/u/16314060?v=4","gravatar_id":"","url":"https://api.github.com/users/ropenscilabs","html_url":"https://github.com/ropenscilabs","followers_url":"https://api.github.com/users/ropenscilabs/followers","following_url":"https://api.github.com/users/ropenscilabs/following{/other_user}","gists_url":"https://api.github.com/users/ropenscilabs/gists{/gist_id}","starred_url":"https://api.github.com/users/ropenscilabs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ropenscilabs/subscriptions","organizations_url":"https://api.github.com/users/ropenscilabs/orgs","repos_url":"https://api.github.com/users/ropenscilabs/repos","events_url":"https://api.github.com/users/ropenscilabs/events{/privacy}","received_events_url":"https://api.github.com/users/ropenscilabs/received_events","type":"Organization","site_admin":false},"html_url":"https://github.com/ropenscilabs/circle","description":"R
        client package for the Circle CI API","fork":false,"url":"https://api.github.com/repos/ropenscilabs/circle","forks_url":"https://api.github.com/repos/ropenscilabs/circle/forks","keys_url":"https://api.github.com/repos/ropenscilabs/circle/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ropenscilabs/circle/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ropenscilabs/circle/teams","hooks_url":"https://api.github.com/repos/ropenscilabs/circle/hooks","issue_events_url":"https://api.github.com/repos/ropenscilabs/circle/issues/events{/number}","events_url":"https://api.github.com/repos/ropenscilabs/circle/events","assignees_url":"https://api.github.com/repos/ropenscilabs/circle/assignees{/user}","branches_url":"https://api.github.com/repos/ropenscilabs/circle/branches{/branch}","tags_url":"https://api.github.com/repos/ropenscilabs/circle/tags","blobs_url":"https://api.github.com/repos/ropenscilabs/circle/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ropenscilabs/circle/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ropenscilabs/circle/git/refs{/sha}","trees_url":"https://api.github.com/repos/ropenscilabs/circle/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ropenscilabs/circle/statuses/{sha}","languages_url":"https://api.github.com/repos/ropenscilabs/circle/languages","stargazers_url":"https://api.github.com/repos/ropenscilabs/circle/stargazers","contributors_url":"https://api.github.com/repos/ropenscilabs/circle/contributors","subscribers_url":"https://api.github.com/repos/ropenscilabs/circle/subscribers","subscription_url":"https://api.github.com/repos/ropenscilabs/circle/subscription","commits_url":"https://api.github.com/repos/ropenscilabs/circle/commits{/sha}","git_commits_url":"https://api.github.com/repos/ropenscilabs/circle/git/commits{/sha}","comments_url":"https://api.github.com/repos/ropenscilabs/circle/comments{/number}","issue_comment_url":"https://api.github.com/repos/ropenscilabs/circle/issues/comments{/number}","contents_url":"https://api.github.com/repos/ropenscilabs/circle/contents/{+path}","compare_url":"https://api.github.com/repos/ropenscilabs/circle/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ropenscilabs/circle/merges","archive_url":"https://api.github.com/repos/ropenscilabs/circle/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ropenscilabs/circle/downloads","issues_url":"https://api.github.com/repos/ropenscilabs/circle/issues{/number}","pulls_url":"https://api.github.com/repos/ropenscilabs/circle/pulls{/number}","milestones_url":"https://api.github.com/repos/ropenscilabs/circle/milestones{/number}","notifications_url":"https://api.github.com/repos/ropenscilabs/circle/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ropenscilabs/circle/labels{/name}","releases_url":"https://api.github.com/repos/ropenscilabs/circle/releases{/id}","deployments_url":"https://api.github.com/repos/ropenscilabs/circle/deployments","created_at":"2019-10-12T19:32:22Z","updated_at":"2020-09-04T11:36:52Z","pushed_at":"2020-10-06T19:20:10Z","git_url":"git://github.com/ropenscilabs/circle.git","ssh_url":"git@github.com:ropenscilabs/circle.git","clone_url":"https://github.com/ropenscilabs/circle.git","svn_url":"https://github.com/ropenscilabs/circle","homepage":"https://docs.ropensci.org/circle","size":700,"stargazers_count":10,"watchers_count":10,"language":"R","has_issues":true,"has_projects":false,"has_downloads":true,"has_wiki":false,"has_pages":true,"forks_count":2,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":0,"license":{"key":"gpl-3.0","name":"GNU
        General Public License v3.0","spdx_id":"GPL-3.0","url":"https://api.github.com/licenses/gpl-3.0","node_id":"MDc6TGljZW5zZTk="},"forks":2,"open_issues":0,"watchers":10,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"temp_clone_token":"","allow_squash_merge":true,"allow_merge_commit":true,"allow_rebase_merge":false,"delete_branch_on_merge":true,"organization":{"login":"ropenscilabs","id":16314060,"node_id":"MDEyOk9yZ2FuaXphdGlvbjE2MzE0MDYw","avatar_url":"https://avatars3.githubusercontent.com/u/16314060?v=4","gravatar_id":"","url":"https://api.github.com/users/ropenscilabs","html_url":"https://github.com/ropenscilabs","followers_url":"https://api.github.com/users/ropenscilabs/followers","following_url":"https://api.github.com/users/ropenscilabs/following{/other_user}","gists_url":"https://api.github.com/users/ropenscilabs/gists{/gist_id}","starred_url":"https://api.github.com/users/ropenscilabs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ropenscilabs/subscriptions","organizations_url":"https://api.github.com/users/ropenscilabs/orgs","repos_url":"https://api.github.com/users/ropenscilabs/repos","events_url":"https://api.github.com/users/ropenscilabs/events{/privacy}","received_events_url":"https://api.github.com/users/ropenscilabs/received_events","type":"Organization","site_admin":false},"network_count":2,"subscribers_count":1}'
  recorded_at: 2020-10-06 19:38:51 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
[...]
- request:
    method: get
    uri: https://circleci.com/api/v2/project/gh/ropenscilabs/circle/checkout-key?circle-token=<<<R_CIRCLE>>>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-circleci-identity: circle-www-api-v1-78894ccdf-cx2fp
      x-ratelimit-limit: '151'
      x-ratelimit-remaining: '150'
      x-ratelimit-reset: '0'
      x-route: /api/v2/project/:project-slug/checkout-key
    body:
      encoding: UTF-8
      file: no
      string: '{"next_page_token":null,"items":[{"type":"github-user-key","preferred":true,"created_at":"2020-10-06T19:38:50.163Z","public_key":"ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAABAQCk3CbjLzdG/va/lj65uxQ/2RUE3CEAMNTYIYY2scbOFE4nmddmdPKggj/KKvj8GOLCRXzY6T3O0z1wrcJKnXVs3sDdDiDhIGBPOgoA7tHT1elACozZ/QCSi8/kgCdm+ojoz3ghz+bMnrdUijTWTloFJGv9nv05SGojp0LyFwG5/WWBjZabZevcish4NnidnZmjIBaDQH2cXlS9QBpivpQ+I7JfheqZbOqthtlCoL3SBZ/5oMrl7Ggh5KX2kRDL1lnj+0yqNxaxWOph3hHIzLsybIopMkvRMAFYF50gCwbeL5Vn3su1nmnC9O39J+6XbONFzMoBcZiCKd8APPQck0J5
        \n","fingerprint":"92:6b:cc:f2:40:94:da:a5:49:d3:52:87:bf:d5:ab:90"},{"type":"github-user-key","preferred":false,"created_at":"2020-08-30T19:11:14.279Z","public_key":"ssh-rsa
        AAAAB3NzaC1yc2EAAAADAQABAAABAQCUy7GdkSHEd430oGswLBBXYp3Bzw0B3mi0cnWJQxmoTdLwte7HJYPMLFW8O8hMvJLmg0tLwwE9ON36iTzZY43hPySq27wRQ2VPVetwXmMcsoZy5vyG1Fk8WqUoEbZfCrJ6apLZj8z48sZbNvogd2YxcTqZc6TJ0v/LykOMGNK0AWaFV/GOtTsBbnd1mLB0XQEg07RL4CNUBJhkS/e+8S89oT7LJW9tze+h1S2mwdhMXql0d6UkXz+N4W5f5PKGm9i08x9j4Db+htU/jQJb1X0lzE19ikOFXNtzD8XwRerFHVWa3IEMC7iaLZXinNEKlfgK+rZv5MKh6aL14X7zgDCz
        \n","fingerprint":"63:77:40:94:f6:a3:f0:42:4e:ce:f7:b7:a1:16:14:31"}]}'
  recorded_at: 2020-10-06 19:38:51 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
[...]
- request:
    method: delete
    uri: https://circleci.com/api/v2/project/gh/ropenscilabs/circle/checkout-key/92:6b:cc:f2:40:94:da:a5:49:d3:52:87:bf:d5:ab:90?circle-token=<<<R_CIRCLE>>>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-circleci-identity: circle-www-api-v1-78894ccdf-gfmrf
      x-ratelimit-limit: '151'
      x-ratelimit-remaining: '150'
      x-ratelimit-reset: '0'
      x-route: /api/v2/project/:project-slug/checkout-key/:fingerprint
    body:
      encoding: UTF-8
      file: no
      string: '{"message":"Checkout key deleted."}'
  recorded_at: 2020-10-06 19:38:51 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
- request:
    method: get
    uri: https://api.github.com/user/keys
    body:
      encoding: ''
      string: ''
    headers:
  response:
    status:
      status_code: 401
      category: Client error
      reason: Unauthorized
      message: 'Client error: (401) Unauthorized'
    headers:
      content-type: application/json; charset=utf-8
      status: 401 Unauthorized
      x-github-media-type: github.v3; format=json
      x-ratelimit-limit: '60'
      x-ratelimit-remaining: '59'
      x-ratelimit-reset: '1602016731'
      x-ratelimit-used: '1'
    body:
      encoding: UTF-8
      file: no
      string: '{"message":"Requires authentication","documentation_url":"https://docs.github.com/rest/reference/users#list-public-ssh-keys-for-the-authenticated-user"}'
  recorded_at: 2020-10-06 19:38:51 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
