http_interactions:
- request:
    method: post
    uri: https://circleci.com/api/v1.1/project/gh/ropenscilabs/circle/follow?circle-token=<<<R_CIRCLE>>>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-circleci-identity: circle-www-api-v1-777c756979-kqlvq
      x-ratelimit-limit: '151'
      x-ratelimit-remaining: '150'
      x-ratelimit-reset: '0'
      x-route: /api/v1.1/project/:vcs-type/:username/:repo/follow
    body:
      encoding: UTF-8
      file: no
      string: '{"following":true,"workflow":false,"first_build":null}'
  recorded_at: 2020-11-03 11:30:21 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
