http_interactions:
- request:
    method: get
    uri: https://circleci.com/api/v2/me?circle-token=<<<R_CIRCLE>>>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-circleci-identity: circle-www-api-v1-7dd8b4687b-nprtm
      x-ratelimit-limit: '151'
      x-ratelimit-remaining: '150'
      x-ratelimit-reset: '0'
      x-route: /api/v2/me
    body:
      encoding: UTF-8
      file: no
      string: '{"name":"Patrick Schratz","login":"pat-s","id":"9c373331-d0f7-45e1-afe6-4a5c75e00d10"}'
  recorded_at: 2020-09-23 20:13:43 GMT
  recorded_with: vcr/0.5.4, webmockr/0.6.2
