http_interactions:
- request:
    method: get
    uri: https://circleci.com/api/v2/project/gh/ropenscilabs/circle/envvar?circle-token=<<<R_CIRCLE>>>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-circleci-identity: circle-www-api-v1-777c756979-ndgcz
      x-ratelimit-limit: '151'
      x-ratelimit-remaining: '150'
      x-ratelimit-reset: '0'
      x-route: /api/v2/project/:project-slug/envvar
    body:
      encoding: UTF-8
      file: no
      string: '{"next_page_token":null,"items":[{"name":"CIRCLE_CHECKOUT_KEY","value":"xxxx9e9f"},{"name":"R_CIRCLE","value":"xxxx892f"}]}'
  recorded_at: 2020-11-03 11:30:21 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
