http_interactions:
- request:
    method: get
    uri: https://circleci.com/api/v1.1/projects?circle-token=<<<R_CIRCLE>>>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-circleci-identity: circle-www-api-v1-7dd8b4687b-lcgfp
      x-ratelimit-limit: '151'
      x-ratelimit-remaining: '150'
      x-ratelimit-reset: '0'
      x-route: /api/v1.1/projects
    body:
      encoding: UTF-8
      file: no
      string: '[{"branches":{"master":{"latest_workflows":{"Build%20Error":{"status":"failed","created_at":"2020-08-12T12:41:49.827Z","id":"b0f8a18a-77be-47bb-8c6b-b5e738b0773d"},"build":{"status":"failed","created_at":"2020-07-26T18:55:54.707Z","id":"82e57c3b-076e-491f-b3e3-b787e30ee43e"},"nightly":{"status":"failed","created_at":"2020-08-05T03:00:09.829Z","id":"e1c1583a-1f97-4c09-84f8-61228c9d9c2b"}},"pusher_logins":["pat-s"],"running_builds":[],"recent_builds":[{"outcome":"failed","status":"failed","build_num":252,"vcs_revision":"11b65f5239f7a19f1764124e128578c5a57e6cf9","pushed_at":"2020-08-12T12:41:49.000Z","is_workflow_job":true,"is_2_0_job":true,"added_at":"2020-08-12T12:42:00.307Z"},{"outcome":"failed","status":"failed","build_num":251,"vcs_revision":"c954e8467b5aad647174383165163198ede813d7","pushed_at":"2020-08-12T09:19:59.000Z","is_workflow_job":true,"is_2_0_job":true,"added_at":"2020-08-12T09:21:00.727Z"},{"outcome":"failed","status":"failed","build_num":250,"vcs_revision":"749d5059c65fee0f5e60cb0db18e75f432aa05f3","pushed_at":"2020-08-12T09:19:17.000Z","is_workflow_job":true,"is_2_0_job":true,"added_at":"2020-08-12T09:19:23.249Z"},{"outcome":"failed","status":"failed","build_num":249,"vcs_revision":"767575ab73285bbb4740e8119deae6d8d1f56cb4","pushed_at":"2020-08-12T08:38:36.000Z","is_workflow_job":true,"is_2_0_job":true,"added_at":"2020-08-12T08:38:42.569Z"},{"outcome":"failed","status":"failed","build_num":248,"vcs_revision":"9fe93ea8f0c74df4db686d4855cc3e478e04ba33","pushed_at":"2020-08-05T16:02:36.000Z","is_workflow_job":true,"is_2_0_job":true,"added_at":"2020-08-05T16:02:46.095Z"}],"last_non_success":{"outcome":"failed","status":"failed","build_num":252,"vcs_revision":"11b65f5239f7a19f1764124e128578c5a57e6cf9","pushed_at":"2020-08-12T12:41:49.000Z","is_workflow_job":true,"is_2_0_job":true,"added_at":"2020-08-12T12:42:00.307Z"},"latest_completed_workflows":{"Build%20Error":{"status":"failed","created_at":"2020-08-12T12:41:49.827Z","id":"b0f8a18a-77be-47bb-8c6b-b5e738b0773d"},"build":{"status":"failed","created_at":"2020-07-26T18:55:54.707Z","id":"82e57c3b-076e-491f-b3e3-b787e30ee43e"},"nightly":{"status":"failed","created_at":"2020-08-05T03:00:09.829Z","id":"e1c1583a-1f97-4c09-84f8-61228c9d9c2b"}},"last_success":{"outcome":"success","status":"success","build_num":15,"vcs_revision":"2183d6c1a340bf90ebf629996991046f9fdded81","pushed_at":"2020-02-23T15:57:15.000Z","is_workflow_job":true,"is_2_0_job":true,"added_at":"2020-02-23T16:38:27.675Z"},"is_using_workflows":true}},"oss":true,"reponame":"2019-feature-selection","parallel":1,"username":"pat-s","has_usable_key":false,"vcs_type":"github","language":null,"vcs_url":"https://github.com/pat-s/2019-feature-selection","following":true,"default_branch":"master"},{"branches":{"gh-pages":{"latest_workflows":{"Build%20Error":{"status":"running","created_at":"2020-09-19T04:21:43.934Z","id":"7f023bb0-238e-4cc4-a43d-c301ba961ecd"}},"pusher_logins":["krlmlr","pat-s"],"is_using_workflows":true},"smart-use-tic":{"latest_workflows":{"build":{"status":"success","created_at":"2019-11-27T11:03:40.840Z","id":"c0729ffc-b704-4357-86d5-e3d36d068e2c"}},"latest_completed_workflows":{"build":{"status":"success","created_at":"2019-11-27T11:03:40.840Z","id":"c0729ffc-b704-4357-86d5-e3d36d068e2c"}},"is_using_workflows":true},"travis-maco%2Blinux":{"latest_workflows":{"build":{"status":"success","created_at":"2020-01-07T20:03:47.221Z","id":"10083620-e563-4109-af78-55ee96c4ca27"}},"latest_completed_workflows":{"build":{"status":"success","created_at":"2020-01-07T20:03:47.221Z","id":"10083620-e563-4109-af78-55ee96c4ca27"}},"is_using_workflows":true},"b-254-add-inst-doc-ignore":{"latest_completed_workflows":{"build":{"status":"failed","created_at":"2020-05-27T03:21:58.199Z","id":"09e3ae4d-9f39-42bd-9f5b-f52c05030e6c"}},"latest_workflows":{"build":{"status":"failed","created_at":"2020-05-27T03:21:58.199Z","id":"09e3ae4d-9f39-42bd-9f5b-f52c05030e6c"}},"is_using_workflows":true},"docker":{"latest_workflows":{"build":{"status":"success","created_at":"2020-07-25T04:31:35.144Z","id":"32500bd5-8fe7-45dd-9c05-f4402eae1d14"}},"pusher_logins":["pat-s","krlmlr"],"running_builds":[],"recent_builds":[{"outcome":"success","status":"success","build_num":1172,"vcs_revision":"eddde3ce76f631bffab910dacaef87592efb6281","pushed_at":"2020-07-25T04:31:35.000Z","is_workflow_job":true,"is_2_0_job":true,"added_at":"2020-07-25T04:34:37.782Z"},{"outcome":"success","status":"success","build_num":1138,"v[...]
