http_interactions:
- request:
    method: post
    uri: https://circleci.com/api/v2/project/gh/ropensci/circle/pipeline?circle-token=<<<R_CIRCLE>>>
    body:
      encoding: ''
      string: '{"branch":"master"}'
    headers:
      Content-Type: application/json
  response:
    status:
      status_code: 201
      category: Success
      reason: Created
      message: 'Success: (201) Created'
    headers:
      content-type: application/json;charset=utf-8
      x-circleci-identity: circle-www-api-v1-777c756979-vnm26
      x-ratelimit-limit: '151'
      x-ratelimit-remaining: '150'
      x-ratelimit-reset: '0'
      x-route: /api/v2/project/:project-slug/pipeline
    body:
      encoding: UTF-8
      file: no
      string: '{"number":470,"state":"pending","id":"6cecb5f1-fc2f-4aeb-9427-64414ec92354","created_at":"2020-11-03T11:39:42.442Z"}'
  recorded_at: 2020-11-03 11:39:43 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
[...]
