http_interactions:
- request:
    method: get
    uri: https://circleci.com/api/v2/project/gh/ropensci/circle/pipeline?limit=30&circle-token=<<<R_CIRCLE>>>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-circleci-identity: circle-www-api-v1-777c756979-hvctn
      x-ratelimit-limit: '151'
      x-ratelimit-remaining: '150'
      x-ratelimit-reset: '0'
      x-route: /api/v2/project/:project-slug/pipeline
    body:
      encoding: UTF-8
      file: no
      string: '{"next_page_token":"AARLwwVeKj0JUno0Wrzg7eN-_WfAoQ_exvFEN-SIBz5oJBYQ3ixUPHbkVDbfdJk5KIEYIhku77Jnhm48an80pUC7Q9EJc4c-L8zNA4qhucyUoVU8NeluljtDbrurbutm0vikdKEQo3am","items":[{"id":"9c053b8f-67fc-4543-a6a9-51b9540692f4","errors":[],"project_slug":"gh/ropensci/circle","updated_at":"2020-11-03T11:35:07.224Z","number":469,"state":"created","created_at":"2020-11-03T11:35:07.224Z","trigger":{"received_at":"2020-11-03T11:35:07.173Z","type":"webhook","actor":{"login":"pat-s","avatar_url":"https://avatars3.githubusercontent.com/u/8430564?v=4"}},"vcs":{"origin_repository_url":"https://github.com/ropensci/circle","target_repository_url":"https://github.com/ropensci/circle","revision":"e1f64ee88ff28ee54849fc78d477a8a312fc19b9","provider_name":"GitHub","commit":{"body":"","subject":"update
        vcr cassettes"},"branch":"master"}},{"id":"ed7335bf-d605-401e-88c0-4cfe57c4af4f","errors":[],"project_slug":"gh/ropensci/circle","updated_at":"2020-11-03T11:04:49.739Z","number":468,"state":"created","created_at":"2020-11-03T11:04:49.739Z","trigger":{"received_at":"2020-11-03T11:04:49.683Z","type":"webhook","actor":{"login":"pat-s","avatar_url":"https://avatars3.githubusercontent.com/u/8430564?v=4"}},"vcs":{"origin_repository_url":"https://github.com/ropensci/circle","target_repository_url":"https://github.com/ropensci/[...]
[...]
- request:
    method: get
    uri: https://circleci.com/api/v2/pipeline/9c053b8f-67fc-4543-a6a9-51b9540692f4/workflow?circle-token=<<<R_CIRCLE>>>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-circleci-identity: circle-www-api-v1-777c756979-njzv9
      x-ratelimit-limit: '151'
      x-ratelimit-remaining: '150'
      x-ratelimit-reset: '0'
      x-route: /api/v2/pipeline/:pipeline-id/workflow
    body:
      encoding: UTF-8
      file: no
      string: '{"next_page_token":null,"items":[{"pipeline_id":"9c053b8f-67fc-4543-a6a9-51b9540692f4","id":"fc3a4ac2-8cf7-44c6-bda0-284592a4bccc","name":"build","project_slug":"gh/ropensci/circle","status":"success","started_by":"9c373331-d0f7-45e1-afe6-4a5c75e00d10","pipeline_number":469,"created_at":"2020-11-03T11:35:07Z","stopped_at":"2020-11-03T11:36:35Z"}]}'
  recorded_at: 2020-11-03 11:39:21 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
[...]
- request:
    method: post
    uri: https://circleci.com/api/v2/workflow/97c77f87-01c3-4b94-bc90-83ad2314afbe/rerun?circle-token=<<<R_CIRCLE>>>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 202
      category: Success
      reason: Accepted
      message: 'Success: (202) Accepted'
    headers:
      content-type: application/json;charset=utf-8
      x-circleci-identity: circle-www-api-v1-777c756979-r9t9h
      x-ratelimit-limit: '151'
      x-ratelimit-remaining: '150'
      x-ratelimit-reset: '0'
      x-route: /api/v2/workflow/:id/rerun
    body:
      encoding: UTF-8
      file: no
      string: '{"message":"Accepted."}'
  recorded_at: 2020-11-03 11:39:21 GMT
  recorded_with: vcr/0.5.4, webmockr/0.7.0
