http_interactions:
- request:
    method: get
    uri: https://circleci.com/api/v2/project/gh/ropensci/circle/pipeline?limit=30&circle-token=<<<R_CIRCLE>>>
    body:
      encoding: ''
      string: ''
    headers:
      Content-Type: ''
  response:
    status:
      status_code: 200
      category: Success
      reason: OK
      message: 'Success: (200) OK'
    headers:
      content-type: application/json;charset=utf-8
      x-circleci-identity: circle-www-api-v1-777c756979-z4hc8
      x-ratelimit-limit: '151'
      x-ratelimit-remaining: '150'
      x-ratelimit-reset: '0'
      x-route: /api/v2/project/:project-slug/pipeline
    body:
      encoding: UTF-8
      file: no
      string: '{"next_page_token":"AARLwwWZ6tqJF3j7pwktR3P7T4EVovCzFuhrgrh5CFIX7cqIIe2ftqC5q3mHh2MKJKxQ1Ls6qdFGaQyACbclBzBkjc15KWY52rhYBX7egsZlKvHASg_lp0dGliraZ0_6U4U0c7FAMIiH","items":[{"id":"9c053b8f-67fc-4543-a6a9-51b9540692f4","errors":[],"project_slug":"gh/ropensci/circle","updated_at":"2020-11-03T11:35:07.224Z","number":469,"state":"created","created_at":"2020-11-03T11:35:07.224Z","trigger":{"received_at":"2020-11-03T11:35:07.173Z","type":"webhook","actor":{"login":"pat-s","avatar_url":"https://avatars3.githubusercontent.com/u/8430564?v=4"}},"vcs":{"origin_repository_url":"https://github.com/ropensci/circle","target_repository_url":"https://github.com/ropensci/circle","revision":"e1f64ee88ff28ee54849fc78d477a8a312fc19b9","provider_name":"GitHub","commit":{"body":"","subject":"update
        vcr cassettes"},"branch":"master"}},{"id":"ed7335bf-d605-401e-88c0-4cfe57c4af4f","errors":[],"project_slug":"gh/ropensci/circle","updated_at":"2020-11-03T11:04:49.739Z","number":468,"state":"created","created_at":"2020-11-03T11:04:49.739Z","trigger":{"received_at":"2020-11-03T11:04:49.683Z","type":"webhook","actor":{"login":"pat-s","avatar_url":"https://avatars3.githubusercontent.com/u/8430564?v=4"}},"vcs":{"origin_repository_url":"https://github.com/ropensci/circle","target_repository_url":"https://github.com/ropensci/[...]
